.input-message {
    width: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
    max-height: 10rem;
    overflow-y: auto;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--block-placeholder-bg);
    color: var(--text);
    text-align: left;
    border-radius: 2rem;
    line-height: 1;
    outline: none;
    resize: none;
    word-break: break-all;
}

.input-message::placeholder {
    color: var(--placeholder);
}
