:root {
    --text: #1e1E1e;
    --placeholder: #999999;
    --block-placeholder-bg: #efefef;
    --background: #fbfbfb;
    --error: #ff2f2f;
    --accent: #3369f3;
    --accent-opacity: #e4edfd;
    --base-white: #ffffff;
    --line: #eaeaea;
}
