<li>
    <picture>
        <img src="" alt="user">
    </picture>
    <table>
        <thead>
            <tr>
                <td>
                    <strong>Киноклуб</strong>
                </td>
                <td>
                    {{> 'components/common/TimeOrWeekday'}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Вы:</strong>
                    Круто!
                </td>
                <td>
                    <span>
                        4
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</li>

<li>
    <picture>
        <img src="" alt="user">
    </picture>
    <table>
        <thead>
        <tr>
            <td>
                <strong>Киноклуб</strong>
            </td>
            <td>
                {{> 'components/common/TimeOrWeekday'}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <strong>Вы:</strong>
                Круто!
            </td>
            <td>
                    <span>
                        4
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</li>
