.user-chat {
    position: relative;
    margin-bottom: .65rem;
    transition: background-color var(--default-transition-slow);
    user-select: none;
    cursor: pointer;
}

.user-chat:last-child {
    margin-bottom: 0;
}

.user-chat:after {
    content: '';
    position: absolute;
    top: -.35rem;
    width: calc(100% - 2rem);
    border-top: .15rem solid var(--line);
}

.user-chat:last-child:before {
    content: '';
    position: absolute;
    bottom: -.35rem;
    width: calc(100% - 2rem);
    border-top: .15rem solid var(--line);
}

.user-chat-conteiner {
    display: flex;
    padding: 1rem 0;
}

.user-chat:hover {
    background-color: var(--accent-opacity);
}

.user-chat__img-wrapper {
    overflow: hidden;
    background-color: var(--block-placeholder-bg);
    border-radius: 50%;
}

.large > .user-chat__img-wrapper {
    min-width: 13rem;
    height: 13rem;
}

.normal > .user-chat__img-wrapper {
    min-width: 4.7rem;
    height: 4.7rem;
}

.small > .user-chat__img-wrapper {
    min-width: 3.4rem;
    height: 3.4rem;
}

.user-chat__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-chat__info {}
.user-chat__info td:nth-child(2n), th:nth-child(2n) {
    width: 100%;
    padding: 0 1rem;
}

.user-chat__info-time {}

.user-chat__info-body {
    width: 100%;
}

.user-chat__profile-image {
    margin-right: 1rem;
}

td.user-chat__info-title,
th.user-chat__info-title {
    max-width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-chat__info-counter {
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    min-width: 2rem;
    max-width: 100%;
    padding: 0 .6rem;
    color: var(--base-white);
    background-color: var(--accent);
    line-height: 1;
    border-radius: 1rem;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
