<nav>
    <a href="./chat.hbs">Chat</a>
    <a href="./chat-empty.hbs">Empty Chat</a>
    <a href="./login.hbs">Login</a>
    <a href="./signin.hbs">Sign In</a>
    <br>
    <br>
    <a href="./profile.hbs">Profile</a>
    <a href="./profileChangeInfo.hbs">Profile change info</a>
    <a href="./profileChangePassword.hbs">Profile change password</a>
    <br>
    <br>
    <a href="./404.hbs">404</a>
    <a href="./500.hbs">500</a>
</nav>
