{{!< profile}}

{{#> 'pages/profile/ProfileInfoWrapper'}}
    <!--    Image   -->
    <div class="profile-info-image">
        {{> 'common/AppProfileImage' icon=true size='large'}}
        <span class="profile-info-image__overlay t3">
            Показать<br>аватар
        </span>
    </div>

    <div class="profile-info-name b1 c-text">Иван</div>

    <!--    Container   -->
    {{#> 'pages/profile/ProfileInfoContainer'}}
        <!--    List   -->
        {{#> 'pages/profile/ProfileInfoList'}}
            <!--    Rows   -->
            {{> 'pages/profile/ProfileInfoRow' key-text='Почта' value-text='tigr.kman@gma' }}
            {{> 'pages/profile/ProfileInfoRow' key-text='Логин' value-text='labllava' }}
            {{> 'pages/profile/ProfileInfoRow' key-text='Имя' value-text='Тигран' }}
            {{> 'pages/profile/ProfileInfoRow' key-text='Фамилия' value-text='Тигранович' }}
            {{> 'pages/profile/ProfileInfoRow' key-text='Имя в чате' value-text='Тико' }}
            {{> 'pages/profile/ProfileInfoRow' key-text='Телефон' value-text='+7 (909) 967 30 30' }}
            <!--    Rows  / -->
        {{/ 'pages/profile/ProfileInfoList'}}
    {{/ 'pages/profile/ProfileInfoContainer'}}

    <!--    Container   -->
    {{#> 'pages/profile/ProfileInfoContainer' class-container='profile-info-container--links'}}
        <!--    List   -->
        {{#> 'pages/profile/ProfileInfoList'}}
            <!--    Rows   -->
            {{> 'pages/profile/ProfileInfoRow' key-text='Изменить данные' class-key='c-accent'}}
            {{> 'pages/profile/ProfileInfoRow' key-text='Изменить пароль' class-key='c-accent'}}
            {{> 'pages/profile/ProfileInfoRow' key-text='Выйти' class-key='c-error'}}
            <!--    Rows  / -->
        {{/ 'pages/profile/ProfileInfoList'}}
    {{/ 'pages/profile/ProfileInfoContainer'}}
{{/ 'pages/profile/ProfileInfoWrapper'}}
