<tr class="profile-info-row {{class}}">
    <!--  Key  -->
    <th class="profile-info-row__key t3 c-text {{class-key}}">
        <!--    TODO: во 2 спринте заменить передаваемыми РАЗНЫМИ шаблонами    -->
        {{key-text}}
    </th>

    <!--  Value  -->
    <td class="profile-info-row__value c-placeholder">
        <!--    TODO: во 2 спринте заменить передаваемыми РАЗНЫМИ шаблонами    -->
        {{value-text}}
    </td>
</tr>
