<!-- TODO: во 2 спринте при клике по враперу переключать фокус -->
<div class="input-search-wrapper">
    <div class="input-search-icon">
        {{> 'ui/icon/AppIcon' name='search'}}
    </div>
    <input class="input-search t4" type="text" placeholder="Найти">
</div>
