<aside class="aside-panel">
    <div class="chat-panel__header chat-container">
        <header class="app-header">
            <span class="chat-panel__profile-link t4 c-placeholder">
                Профиль
                <span class="chat-panel__profile-arrow">
                    {{> 'ui/icon/AppIcon' name='arrow-pointer'}}
                </span>
            </span>
        </header>
        <!--    Input   -->
        {{> 'ui/input/InputSearch'}}
    </div>
    {{> 'pages/chat/ChatList'}}
</aside>
