<ul class="popup-triggered">
    <li class="popup-triggered__item t4">
        <span class="popup-triggered__item-img">
            {{> 'ui/icon/AppIcon' name='static_resource'}}
        </span>
        Фото или Видео
    </li>
    <li class="popup-triggered__item t4">
        <span class="popup-triggered__item-img">
            {{> 'ui/icon/AppIcon' name='file'}}
        </span>
        Файл
    </li>
    <li class="popup-triggered__item t4">
        <span class="popup-triggered__item-img">
            {{> 'ui/icon/AppIcon' name='location'}}
        </span>
        Локация
    </li>
    <li class="popup-triggered__item t4">
        <span class="popup-triggered__item-img">
            {{> 'ui/icon/AppIcon' name='circle-plus'}}
        </span>
        Добавить пользователя
    </li>
    <li class="popup-triggered__item t4">
        <span class="popup-triggered__item-img">
            {{> 'ui/icon/AppIcon' name='circle-plus' class='rotate-45'}}
        </span>
        Удалить пользователя
    </li>
</ul>
