<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="../assets/postcss/main.pcss">
    <link rel="stylesheet" href="../assets/postcss/chat/chat.pcss">
</head>
<body>
    <main class="chat-layout">
        <section class="chat-panel">
            {{> 'ui/input/InputSearch'}}
            {{> 'pages/chat/ChatList'}}
        </section>
        <section>
            {{{body}}}
        </section>
    </main>
</body>
</html>
