<li class="user-chat chat-container">
    <table class="user-chat__info user-chat-conteiner">
        <tbody class="user-chat__info-body">
            <tr>
                <!--  IMG Пользователя  -->
                <td class="user-chat__profile-image" rowspan="2" colspan="2">
                    {{> 'common/AppProfileImage' size='normal'}}
                </td>
                <!--  Прочее  -->
                <th class="b2 user-chat__info-title">
                    Киноклуб
                </th>
                <th class="table-cell-right user-chat__info-time c-placeholder">
                    {{> 'common/TimeOrWeekday'}}
                </th>
            </tr>
            <tr>
                <td class="none"></td>
                <td class="t4 c-placeholder user-chat__info-message">
                    <span class="c-text">Вы:</span>
                    И Human Interface Guidelines и Material Design рекомендуют...
                </td>
                <td class="va-b table-cell-right">
                    <span class="t5 user-chat__info-counter">
                        4
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</li>
