<header class="chat-header app-header">
    <div class="chat-header__user-image small">
        {{> 'common/AppProfileImage'}}
    </div>
    <span class="b2 c-text">
        Вадим
    </span>
    <div class="chat-header__menu c-text">
        {{> 'ui/icon/AppIcon' name='three_dots'}}
    </div>
</header>
