<div class="message-by-day">
    <time datetime="2008-02-14" class="message-by-day__day t4 c-placeholder">19 Апреля</time>

    {{> 'pages/chat/ChatMessageScope' mine='mine'}}
    {{> 'pages/chat/ChatMessageScope'}}
    {{> 'pages/chat/ChatMessageScope' mine='mine'}}
</div>
