<footer class="chat-footer app-header">
    <!--  Icon Btn  -->
    <div class="chat-footer__menu c-placeholder">
        {{> 'ui/icon/AppIcon' name='materials'}}
    </div>

    <!--  Input for Message  -->
    <div class="chat-footer__message-wrapper">
        {{> 'ui/input/InputMessage'}}
    </div>

    <!--  Send Btn  -->
    <div class="chat-footer__send-btn">
        {{> 'ui/button/CircleArrowBtn' direction='right'}}
    </div>
</footer>
